@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Palanquin:wght@300&display=swap');

.restaurantCardsContainer{
  text-align: center;
  font-family: 'Palanquin', sans-serif;
  &-cards{
    display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: stretch;
        flex-direction: row;
        align-content: stretch;
        margin: 1em 5em 0em 5em ;
  }
}
.spinner{
  display: flex;
justify-content: center;
align-items: center;
  height: 92vh;
}